<template>
    <div class="container">
        <div class="mb-3">
            <img class="img-fluid" src="../../img/background-cover.jpg">
        </div>
        <div class="row blog-list">
            <div class="col-md-8">
                <div class="row justify-content-center pb-5" v-if="$root.user.is_admin">
                    <div class="col">
                        <router-link to="/blog/create">
                            <button type="button" class="btn btn-success">Create</button>
                        </router-link>
                    </div>
                </div>
                <post-preview
                    :short="true"
                    v-for="post in posts.data"
                    :post="post"
                    :key="post._id"
                    class="mb-3 pb-2"
                />
                <nav aria-label="Page navigation example">
                    <pagination class="pagination justify-content-center"
                        :data="posts" v-on:pagination-change-page="fetchPosts">
                        <span slot="prev-nav">&lt; Prev</span>
                        <span slot="next-nav">Next &gt;</span>
                    </pagination>
                </nav>
            </div>

            <div class="col-md-4 latest-posts">
                <h5>Latest posts:</h5>
                <ul class="list-unstyled">
                    <li v-for="post in latest" :key="post._id">
                        <router-link :to="'/blog/' + post.url">{{ post.title }}</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination';

    export default {

        components: {
            pagination,
        },

        mounted() {
            this.fetchPosts(this.$route.params.page);
            this.fetchLates();
        },

        data() {
            return {
                posts: {},
                latest: [],
            }
        },

        methods: {
            fetchPosts(page = 1) {
                let vm = this;
                vm.$router.push({ name: 'blog', params: { page: (page == 1 ? null : page)}})

                axios.get('/posts?page=' + page)
                    .then(response => {
                        vm.posts = response.data.posts;
                    })
                    .catch(error => console.log(error));
            },

            fetchLates() {
                let vm = this;

                axios.get('/posts/latest')
                    .then(response => {
                        vm.latest = response.data.latest;
                    })
                    .catch(error => console.log(error));
            },
        }
    }
</script>
