<template>
    <div class="container">
        <div class="row justify-content-center pb-5" v-if="$root.user.is_admin">
            <div class="col">
                <router-link to="/"><button type="button" class="btn btn-warning" v-if="editable">Cancel</button></router-link>
                <button type="button" class="btn btn-primary" v-if="post._id && !editable" @click="editable = true">Edit</button>
                <button type="button" class="btn btn-danger" v-if="post._id" @click="deletePost">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <component v-bind:is="currenView" :post="post" @submited="onSubmited"></component>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        mounted() {
            if (this.$route.path == '/blog/create') {
                this.editable = true;
            } else {
                this.fetchPost(this.$route.params.postUrl);
            }
        },


        data() {
            return {
                editable: false,
                post: {},
            }
        },

        computed: {
            currenView: function () {
                return 'post-' + (this.editable ? 'form' : 'preview');
            },
        },

        methods: {
            onSubmited: function (post) {
                this.post = post;
                this.editable = false;

                this.$router.push({ name: 'post', params: { postUrl: post.url }})
            },

            fetchPost(url) {
                let vm = this;

                axios.get('/posts/' + url)
                    .then(response => {
                        vm.post = response.data.post;
                    })
                    .catch(error => console.log(error));
            },

            deletePost() {
                let vm = this;

                axios.delete('/posts/' + vm.post._id)
                    .then(response => {
                        if (response.data.success) {
                            vm.$router.push('/');
                        } 
                    })
                    .catch(error => console.log(error));
            },
        }
    }
</script>
