<template>
    <form @submit.prevent="submitPost">
        <div class="form-group">
            <input type="text" v-model="form.title" class="form-control form-control-lg" placeholder="Title" @keyup="computedUrl"
                :class="{ 'is-invalid': form.errors.has('title') }"
            >
            <div class="invalid-feedback"
                v-text="form.errors.first('title')"
                v-if="form.errors.has('title')"
            >
            </div>
        </div>
        <div class="form-group">
            <input type="text" v-model="form.url" class="form-control" placeholder="URL"
                :class="{ 'is-invalid': form.errors.has('url') }"
            >
            <div class="invalid-feedback"
                v-text="form.errors.first('url')"
                v-if="form.errors.has('url')"
            >
            </div>
        </div>
        <div class="form-group">
            <vue-editor v-model="form.body"
            ></vue-editor>

            <div class="invalid-feedback"
                v-text="form.errors.first('body')"
                v-if="form.errors.has('body')"
            >
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>

<script>
    import Form from 'form-backend-validation';
    import { VueEditor } from 'vue2-editor';

    export default {
        components: {
            VueEditor
        },

        props: ['post'],

        data() {
            return {
                form: new Form({
                    title: '',
                    url: '',
                    body: '',
                    ...this.post
                }),
            }
        },

        computed: {
            action: function () {
                return this.post._id ? '/posts/' + this.post._id : '/posts';
            },
            method: function () {
                return this.post._id ? 'patch' : 'post';
            },
        },

        methods: {
            submitPost() {
                let vm = this
                vm.form.submit(this.method, this.action)
                    .then(response => {
                        this.$emit('submited', response.post);
                    })
                    .catch(error => false)
            },
            computedUrl(e) {
                if(!this.post._id) {
                    this.form.url = e.target.value
                        .toLowerCase()
                        .replace(/[^0-9a-z\-]/gi, '-');
                }
            },
        }
    }
</script>
