<template>
    <div class="blog-post">
        <h2 class="blog-post-title" v-if="!short">{{ post.title }}</h2>
        <router-link :to="'/blog/' + post.url" v-else>
            <h2 class="blog-post-title">{{ post.title }}</h2>
        </router-link>
        <p class="text-muted">{{ post.created_at }}</p>
        <span v-html="body"></span>
    </div>
</template>

<script>
    export default {
        props: {
           post: Object,
           short: {
              type: Boolean,
              default: false
           }
        },

        computed: {
            body: function () {
                return this.short
                    ? this.post.body_short
                    : this.post.body;
            },
        },
    }
</script>
