
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
}

.blog-list .blog-post {
    border-bottom: 1px solid #dee2e6;
}

.blog-post {
    a {
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }

    .ql-video {
        width: 100%;
        height: 50vh;
    }

    .ql-align-center {
        @extend .text-center;
    }

    img {
        @extend .img-fluid;
    }
}

.page-link {
    color: #000;
    border: 0;
    &:hover {
        color: #000;
    }
}

.page-item.active .page-link {
    color: #000;
    background-color: #e9ecef;
}

.latest-posts {
    li {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
